* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'poppins', sans-serif;
}

body {
    color: rgb(255, 255, 255);
    background: rgb(8, 27, 41);
}

.header {
    position: fixed;
    height: 60px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: rgb(5, 17, 41);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    position: relative;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    cursor: default;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.navbar a {
    display: inline-block;
    font-size: 25px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: .3s;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: rgb(0, 255, 255);
}

.about{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 100px;

}
.about-img{
   display: flex;
   align-items: center;
   justify-content: center;
}
.about-img img{
    width: 300px;
    margin: auto;
    border-radius: 50%;
    border:transparent;
    animation: slideRight 500ms, glow 2s infinite ;
    box-shadow: 0 0 80px rgb(151, 53, 151),
                0 0 160px rgb(0, 255, 255);

}

.about-text h2{
    font-size: 60px;
    animation: slideLeft 1s ease forwards;
    animation-delay: .2s;
}   
.about-text h2 span{
    color: rgb(0, 255, 255);
}
.about-text p{
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}


/* All */


.sub-title{
    text-align: center;
    font-size: 65px;
    padding-bottom: 70px;
}
.sub-title span{
    color: rgb(0, 255, 255);
}
.sub-title .p, li{
    color: rgb(255, 255, 255);
    font-size: 20px;
}
.container{
    padding: 90px;
}


/* Intro */


#intro{
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.intro-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.intro-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px rgb(0, 0, 255),
                1px 1px 40px rgb(37, 37, 255);
}
.intro-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.intro-list div li, p{
    font-size: 20px;
    color: rgb(159, 255, 255);
}
.intro-list div a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.intro-list div:hover{
    transform: translateY(-10px);
}
.btn{
    display: inline-block;
    padding: 12px 28px;
    background: rgb(0, 255, 255);
    border-radius: 40px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
    box-shadow: 0 0 5px rgb(0, 255, 255),
                0 0 25px rgb(0, 255, 255);
}
.btn:hover{
    background: rgb(26, 245, 245);
    color: rgb(0, 0, 0);
    box-shadow: 0 0 20px rgb(12, 221, 221);
}


/* Basic */


#basic{
    color: rgb(255, 255, 255);
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 4rem;
}
.basic-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(259px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.basic-list div{
    background-color: transparent;
    padding: 40px;
    font-size: 13px;
    font-weight: 13px;
    border-right: 10px;
    border-radius: 20px;
    transition: background 0.5s, transform 0.5s;
    box-shadow: 1px 1px 20px rgb(0, 0, 255),
                1px 1px 40px rgb(37, 37, 255);
}
.basic-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.basic-list div li, p{
    font-size: 20px;
    color: rgb(159, 255, 255);
}
.basic-list div a{
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.basic-list div:hover{
    transform: translateY(-10px);
}


.top{
    position: fixed;
    bottom: 2.1rem;
    right: 2.1rem;
}
.top i{
    color: rgb(0, 0, 0);
    background: rgb(0, 255, 255);
    font-size: 20px;
    padding: 10px;
    border-radius: 0.5rem;
}





















































@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0px);
        opacity: 1;
    }
}

@keyframes shake {
	0%, 100% {transform: translateX(0);}
	10%, 30%, 50%, 70%, 90% {transform: translateX(-10px);}
	20%, 40%, 60%, 80% {transform: translateX(10px);}
}

@keyframes glow{
    0%,100% {box-shadow:0 0 80px 0 rgb(151, 53, 151),
                        0 0 160px 0 rgb(0, 255, 255);}
    50% {box-shadow:0 0 80px 10px rgb(151, 53, 151),
                    0 0 160px 30px rgb(0, 255, 255);}
}